[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
isort = "*"
flake8 = "*"
django = "==4.0.5"
gunicorn = "*"
djongo = "*"
pymongo = "==3.12.3"
pytz = "*"
mongoengine = "*"
djangorestframework = "*"
uuid = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
